//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 13 16:22:54 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "signal" LOCATE = SITE "A7" LEVEL 1;
COMP "outedge" LOCATE = SITE "M5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

