//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 20 20:58:28 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "light_state" LOCATE = SITE "M5" LEVEL 1;
COMP "cancel_button" LOCATE = SITE "C11" LEVEL 1;
COMP "call_button" LOCATE = SITE "G12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

